:root {
  --figma-color-bg: rgba(255, 255, 255, 1);
  --figma-color-bg-brand: #0d99ff;
  --figma-color-bg-brand-hover: #007be5;
  --figma-color-bg-brand-pressed: #007be5;
  --figma-color-bg-brand-secondary: #0768cf;
  --figma-color-bg-brand-tertiary: #e5f4ff;
  --figma-color-bg-component: #9747ff;
  --figma-color-bg-component-hover: #8638e5;
  --figma-color-bg-component-pressed: #8638e5;
  --figma-color-bg-component-secondary: #7c2bda;
  --figma-color-bg-component-tertiary: #f1e5ff;
  --figma-color-bg-danger: #f24822;
  --figma-color-bg-danger-hover: #dc3412;
  --figma-color-bg-danger-pressed: #dc3412;
  --figma-color-bg-danger-secondary: #bd2915;
  --figma-color-bg-danger-tertiary: #ffe2e0;
  --figma-color-bg-disabled: #d9d9d9;
  --figma-color-bg-disabled-secondary: #b3b3b3;
  --figma-color-bg-hover: #f5f5f5;
  --figma-color-bg-inverse: #2c2c2c;
  --figma-color-bg-onselected: #bde3ff;
  --figma-color-bg-onselected-hover: #bde3ff;
  --figma-color-bg-onselected-pressed: #bde3ff;
  --figma-color-bg-pressed: #f5f5f5;
  --figma-color-bg-secondary: #f5f5f5;
  --figma-color-bg-selected: #e5f4ff;
  --figma-color-bg-selected-hover: #bde3ff;
  --figma-color-bg-selected-pressed: #bde3ff;
  --figma-color-bg-selected-secondary: #f2f9ff;
  --figma-color-bg-selected-strong: #0d99ff;
  --figma-color-bg-selected-tertiary: #f2f9ff;
  --figma-color-bg-success: #14ae5c;
  --figma-color-bg-success-hover: #009951;
  --figma-color-bg-success-pressed: #009951;
  --figma-color-bg-success-secondary: #008043;
  --figma-color-bg-success-tertiary: #cff7d3;
  --figma-color-bg-tertiary: #e6e6e6;
  --figma-color-bg-warning: #ffcd29;
  --figma-color-bg-warning-hover: #ffc21a;
  --figma-color-bg-warning-pressed: #ffc21a;
  --figma-color-bg-warning-secondary: #fab815;
  --figma-color-bg-warning-tertiary: #fff1c2;
  --figma-color-border: #e6e6e6;
  --figma-color-border-brand: #bde3ff;
  --figma-color-border-brand-strong: #007be5;
  --figma-color-border-component: #e4ccff;
  --figma-color-border-component-hover: #9747ff;
  --figma-color-border-component-strong: #8638e5;
  --figma-color-border-danger: #ffc7c2;
  --figma-color-border-danger-strong: #dc3412;
  --figma-color-border-disabled: #e6e6e6;
  --figma-color-border-disabled-strong: rgba(0, 0, 0, 0.3);
  --figma-color-border-onbrand: #007be5;
  --figma-color-border-onbrand-strong: rgba(255, 255, 255, 1);
  --figma-color-border-oncomponent: #8638e5;
  --figma-color-border-oncomponent-strong: rgba(255, 255, 255, 1);
  --figma-color-border-ondanger: #dc3412;
  --figma-color-border-ondanger-strong: rgba(255, 255, 255, 1);
  --figma-color-border-onselected: #bde3ff;
  --figma-color-border-onselected-strong: rgba(0, 0, 0, 0.9);
  --figma-color-border-onsuccess: #009951;
  --figma-color-border-onsuccess-strong: rgba(255, 255, 255, 1);
  --figma-color-border-onwarning: #fab815;
  --figma-color-border-onwarning-strong: rgba(0, 0, 0, 0.9);
  --figma-color-border-selected: #0d99ff;
  --figma-color-border-selected-strong: #007be5;
  --figma-color-border-strong: #2c2c2c;
  --figma-color-border-success: #aff4c6;
  --figma-color-border-success-strong: #009951;
  --figma-color-border-warning: #ffe8a3;
  --figma-color-border-warning-strong: #b86200;
  --figma-color-icon: rgba(0, 0, 0, 0.9);
  --figma-color-icon-brand: #007be5;
  --figma-color-icon-brand-pressed: #0768cf;
  --figma-color-icon-brand-secondary: #80caff;
  --figma-color-icon-brand-tertiary: #bde3ff;
  --figma-color-icon-component: #8638e5;
  --figma-color-icon-component-pressed: #7c2bda;
  --figma-color-icon-component-secondary: #c5b2dc;
  --figma-color-icon-component-tertiary: #c5b2dc;
  --figma-color-icon-danger: #f24822;
  --figma-color-icon-danger-hover: #bd2915;
  --figma-color-icon-danger-pressed: #bd2915;
  --figma-color-icon-danger-secondary: #f24822;
  --figma-color-icon-danger-secondary-hover: #f24822;
  --figma-color-icon-danger-tertiary: #f24822;
  --figma-color-icon-disabled: rgba(0, 0, 0, 0.3);
  --figma-color-icon-hover: rgba(0, 0, 0, 0.9);
  --figma-color-icon-onbrand: rgba(255, 255, 255, 1);
  --figma-color-icon-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-icon-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-icon-oncomponent: rgba(255, 255, 255, 1);
  --figma-color-icon-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-icon-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-icon-ondanger: rgba(255, 255, 255, 1);
  --figma-color-icon-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-icon-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-icon-ondisabled: rgba(255, 255, 255, 1);
  --figma-color-icon-oninverse: rgba(255, 255, 255, 0.9);
  --figma-color-icon-onselected: rgba(0, 0, 0, 0.9);
  --figma-color-icon-onselected-secondary: rgba(0, 0, 0, 0.5);
  --figma-color-icon-onselected-strong: rgba(255, 255, 255, 1);
  --figma-color-icon-onselected-tertiary: rgba(0, 0, 0, 0.3);
  --figma-color-icon-onsuccess: rgba(255, 255, 255, 1);
  --figma-color-icon-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-icon-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-icon-onwarning: rgba(0, 0, 0, 0.9);
  --figma-color-icon-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --figma-color-icon-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --figma-color-icon-pressed: #007be5;
  --figma-color-icon-secondary: rgba(0, 0, 0, 0.5);
  --figma-color-icon-secondary-hover: rgba(0, 0, 0, 0.9);
  --figma-color-icon-selected: #007be5;
  --figma-color-icon-selected-secondary: #007be5;
  --figma-color-icon-selected-tertiary: #007be5;
  --figma-color-icon-success: #14ae5c;
  --figma-color-icon-success-pressed: #008043;
  --figma-color-icon-success-secondary: #14ae5c;
  --figma-color-icon-success-tertiary: #14ae5c;
  --figma-color-icon-tertiary: rgba(0, 0, 0, 0.3);
  --figma-color-icon-tertiary-hover: rgba(0, 0, 0, 0.9);
  --figma-color-icon-warning: #ffcd29;
  --figma-color-icon-warning-pressed: #b86200;
  --figma-color-icon-warning-secondary: #ffcd29;
  --figma-color-icon-warning-tertiary: #ffcd29;
  --figma-color-text: rgba(0, 0, 0, 0.9);
  --figma-color-text-brand: #007be5;
  --figma-color-text-brand-secondary: #007be5;
  --figma-color-text-brand-tertiary: #007be5;
  --figma-color-text-component: #8638e5;
  --figma-color-text-component-pressed: #7c2bda;
  --figma-color-text-component-secondary: #c5b2dc;
  --figma-color-text-component-tertiary: #c5b2dc;
  --figma-color-text-danger: #dc3412;
  --figma-color-text-danger-secondary: #dc3412;
  --figma-color-text-danger-tertiary: #dc3412;
  --figma-color-text-disabled: rgba(0, 0, 0, 0.3);
  --figma-color-text-hover: rgba(0, 0, 0, 0.9);
  --figma-color-text-onbrand: rgba(255, 255, 255, 1);
  --figma-color-text-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-text-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-text-oncomponent: rgba(255, 255, 255, 1);
  --figma-color-text-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-text-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-text-ondanger: rgba(255, 255, 255, 1);
  --figma-color-text-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-text-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-text-ondisabled: rgba(255, 255, 255, 1);
  --figma-color-text-oninverse: rgba(255, 255, 255, 0.9);
  --figma-color-text-onselected: rgba(0, 0, 0, 0.9);
  --figma-color-text-onselected-secondary: rgba(0, 0, 0, 0.5);
  --figma-color-text-onselected-strong: rgba(255, 255, 255, 1);
  --figma-color-text-onselected-tertiary: rgba(0, 0, 0, 0.3);
  --figma-color-text-onsuccess: rgba(255, 255, 255, 1);
  --figma-color-text-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --figma-color-text-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-text-onwarning: rgba(0, 0, 0, 0.9);
  --figma-color-text-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --figma-color-text-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --figma-color-text-secondary: rgba(0, 0, 0, 0.5);
  --figma-color-text-secondary-hover: rgba(0, 0, 0, 0.9);
  --figma-color-text-selected: #007be5;
  --figma-color-text-selected-secondary: #007be5;
  --figma-color-text-selected-tertiary: #007be5;
  --figma-color-text-success: #009951;
  --figma-color-text-success-secondary: #009951;
  --figma-color-text-success-tertiary: #009951;
  --figma-color-text-tertiary: rgba(0, 0, 0, 0.3);
  --figma-color-text-tertiary-hover: rgba(0, 0, 0, 0.9);
  --figma-color-text-warning: #b86200;
  --figma-color-text-warning-secondary: #b86200;
  --figma-color-text-warning-tertiary: #b86200;
}
