:root {
  --figma-color-bg-menu: #1e1e1e;
  --figma-color-bg-tooltip: #1e1e1e;
  --figma-color-border-menu: #383838;
  --figma-color-text-menu: rgba(255, 255, 255, 1);
  --figma-color-text-menu-disabled: rgba(255, 255, 255, 0.4);
  --figma-color-text-menu-secondary: rgba(255, 255, 255, 0.7);
  --figma-color-text-tooltip: rgba(255, 255, 255, 1);
  --figma-color-text-tooltip-secondary: rgba(255, 255, 255, 0.7);
}

.figma-light:root {
  --shadow-context-menu: 0px 10px 16px rgba(24, 24, 24, 0.15), 0px 2px 5px rgba(24, 24, 24, 0.15);
}

.figma-dark:root {
  --shadow-context-menu: 0px 10px 16px rgba(0, 0, 0, 0.35), 0px 2px 5px rgba(0, 0, 0, 0.35),
    inset 0px 0.5px 0px rgba(255, 255, 255, 0.08), inset 0px 0px 0.5px rgba(255, 255, 255, 0.35);
}

#app {
  height: 100%;
}
