@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;

@tailwind components;

body {
    @apply font-body text-sm;
}

.heading {
    @apply text-2xl font-medium text-gray-900 leading-none capitalize;
}

.heading-small {
    @apply text-xs;
}

.navbar {
    transform: translateY(-1px);
}

.button-property + .property-wrapper {
    @apply mt-4;
}

.property-wrapper:not(:last-of-type) {
    @apply mb-4;
}

.property-wrapper .heading {
    @apply text-xs text-gray-500 mb-2;
}

.property-wrapper .property-wrapper {
    @apply mb-0 rounded-none p-1 border-t border-gray-300;
}

.property-wrapper:last-of-type {
    @apply mb-0;
}

.property-value {
    @apply text-gray-500 text-xs font-normal;
}

.button-group {
    @apply rounded inline-flex border border-gray-400 overflow-hidden;
}

.button-value {
    @apply text-gray-600 text-xs font-medium;
}

.button-extra {
    @apply border-l border-black px-2 py-1;
}

.button-disabled .button-extra {
    @apply border-gray-500;
}

.rotate {
    animation: rotate 1000ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button-group .button {
    @apply border-none rounded-none;
}

.button {
    @apply border border-gray-400 rounded text-gray-800 font-medium text-xs p-3;
}

.button-disabled {
    @apply border-gray-500;
}

.button:hover {
    @apply bg-gray-100;
}

.button-ghost {
    @apply border-transparent bg-transparent px-2 py-1;
}

.button-ghost:hover {
    @apply bg-gray-200;
}

.button-property {
    @apply border-none rounded bg-gray-100 px-0 py-0;
}

.button-property:hover {
    @apply bg-opacity-75;
}

.button-property-edit {
    @apply opacity-0;
}

.button-property:hover .button-property-edit {
    @apply opacity-100;
}

.button-active {
    @apply bg-primary-100;
}

.button-property-color {
    @apply rounded-full bg-transparent;
}

.button-property-color .button-active {
    box-shadow: none;
}

.button-property-color .button-text::before {
    @apply w-6 h-6 my-auto flex-shrink-0;
    border: 2px solid white;
    content: '';
    border-radius: 100%;
    background-color: var(--backgroundColor);
}

.button-property-color-listing {
    @apply rounded w-full p-1 -mb-1;
}

.button-active-fill .button-text::before {
    box-shadow: 0 0 0 1px black;
}

/* .button-active-fill::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    border: 2px solid white;
    pointer-events: none;
} */

.button-text {
    @apply px-2 py-1 flex items-center justify-start flex-shrink-0;
}

.button-property-color .button-text span {
    @apply ml-2;
}

.button-property-color .button-text {
    @apply p-0;
}

.button-edit:hover .button-text {
    @apply opacity-25;
}

.button-edit-overlay {
    @apply opacity-0 absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center;
}

.button-edit:hover .button-edit-overlay {
    @apply opacity-100;
}

.button-link {
    @apply bg-transparent border-transparent;
}

.button-secondary {
    @apply bg-white text-black border border-gray-200;
}

.button-secondary:hover {
    @apply bg-gray-100;
}

.button-primary {
    @apply bg-primary-500 text-white border-transparent;
}

.button-primary:hover {
    @apply bg-primary-400;
}

.button-large {
    @apply py-3 px-4;
}

button[disabled] {
    @apply opacity-50;
}

textarea {
    @apply w-full border bg-white text-xxs p-3 rounded font-mono;
}

form {
    margin-block-end: 0;
}

[data-reach-dialog-content] {
    width: 75vw !important;
    padding: 0 !important;
}

[data-reach-dialog-overlay] {
    @apply z-1;
}

[data-reach-tooltip] {
    @apply text-xs;
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    @apply p-2 z-20;
}

.modal-content {
    overflow-y: auto;
    @apply bg-white h-full rounded shadow-lg p-2;
}

.input {
    @apply bg-white border border-gray-300 text-xs p-2 rounded shadow-sm w-24;
}

.react-contextmenu {
    @apply bg-gray-900;
    background-clip: padding-box;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 14px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item:hover {
    @apply bg-primary-500 text-white;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}

@tailwind utilities;
