@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;

@tailwind components;

/* @TODO Move ScrollContainer classes to stitches/component */

.scroll-container {
  overflow-y: scroll;
}

.content::-webkit-scrollbar,
.ReactModal__Content::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 9px;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 9px;
}

.content::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb,
.ReactModal__Content::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 9px;
  border: 2px solid white;
}

.content-dark::-webkit-scrollbar-thumb {
  @apply bg-gray-400 border-gray-950;
  border-radius: 9px;
  border: 2px solid;
}

/* @TODO Move TokenButton classes to stitches/component */

.button-property + .property-wrapper {
  @apply mt-4;
}

.property-wrapper:not(:last-of-type) {
  @apply mb-4;
}

.property-wrapper .property-wrapper {
  @apply mb-0 rounded-none pl-2 pb-2 border-l border-gray-300;
}

.property-wrapper:last-of-type {
  @apply mb-0;
}

/* @TODO Move Button classes to stitches/component */

.button {
  @apply border border-gray-400 rounded text-gray-800 font-medium text-xs p-2;
}

.button-disabled {
  @apply border-gray-500;
}

.button-ghost {
  @apply border-transparent bg-transparent px-2 py-1;
}

.button-ghost:hover {
  @apply bg-gray-200;
}

/* @TODO Move TokenButton classes to stitches/component */

.button-property {
  @apply border-none rounded bg-gray-100 px-0 py-0;
}

.button-property button {
  @apply rounded;
}

.button-property:hover {
  @apply bg-gray-100 bg-opacity-50;
}

.button-property-edit {
  @apply opacity-0;
}

.button-active {
  @apply bg-primary-100 shadow-focus-muted;
}

.button-property button:focus {
  @apply bg-opacity-75 outline-none shadow-focus-subtle;
}

.button-property-color {
  @apply rounded-full bg-transparent;
}

.button-property-color button:focus {
  @apply rounded-full bg-transparent;
  outline: none;
  box-shadow: 0 0 0 2px theme('colors.primary.500');
}

.button-property-color .button-text::before {
  @apply w-6 h-6 my-auto flex-shrink-0;
  border: 1px solid white;
  content: '';
  border-radius: 100%;
  background: var(--backgroundColor);
  border-color: var(--borderColor);
}

.button-property-color-listing {
  @apply rounded w-full p-1 -mb-1;
}

/* @TODO Move Button classes to stitches/component */

.button-text {
  @apply px-2 py-1 flex items-center justify-start flex-shrink-0;
}

.button-property-color .button-text span {
  @apply ml-2;
}

.button-property-color .button-text {
  @apply p-0;
}

.button-link {
  @apply bg-transparent border-transparent;
}

.button-secondary {
  @apply bg-white text-black border border-gray-200;
}

.button-primary {
  @apply bg-primary-500 text-white border-transparent;
}

button[disabled] {
  @apply opacity-50;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px theme('colors.primary.100');
}

.input textarea:focus,
.input select:focus,
.input input:focus {
  @apply outline-none;
}

.drag-over-item-grid-absolute {
  position: absolute;
  content: '';
  width: 5px;
  height: 24px;
  top: 0px;
  left: -4px;
  background-color: var(--blue);
}
.drag-over-item-list-absolute {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top: -4px;
  background-color: var(--blue);
}

#corner {
  position: fixed;
  right: 0px;
  bottom: 0px;
  cursor: nwse-resize;
}

@tailwind utilities;
