/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* JetBrains Mono Regular */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* JetBrains Mono Bold */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
