.rc-mentions {
  width: 100%;
  display: inline-block;
  position: relative;
  white-space: pre-wrap;
  --mentions-color-muted: var(--colors-fgMuted);
}

.rc-mentions > textarea,
.rc-mentions-measure {
  width: 100%;
  min-height: var(--sizes-controlSmall) !important;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: var(--space-1) var(--space-3);
  word-break: inherit;
  white-space: inherit;
  word-wrap: break-word;
  overflow-x: initial;
  overflow-y: auto;
}

.rc-mentions > textarea {
  border: 1px solid var(--colors-borderMuted);
  border-right: 0;
  border-radius: 0;
  background: transparent;
  font-size: var(--fontSizes-xsmall);
  padding-top: var(--space-2);
}

.mentions-no-prefix > textarea {
  border-top-left-radius: var(--radii-small);
  border-bottom-left-radius: var(--radii-small);
}

.rc-mentions > textarea:focus-within {
  box-shadow: var(--shadows-focus);
}

.rc-mentions-measure {
  position: absolute;
  left: 0;
  right: 0;
  top: 28;
  bottom: 0;
  pointer-events: none;
  font-size: 0;
  z-index: 10;
}

.rc-mentions-dropdown {
  position: absolute;
  border-radius: var(--radii-medium);
}

.rc-mentions-dropdown-menu {
  min-width: 200px;
  max-width: 60vw;
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: var(--fontSizes-small);
  padding: var(--space-2);
  border: 1px solid var(--colors-borderSubtle);
  border-radius: var(--radii-medium);
  box-shadow: var(--shadows-contextMenu);
  background: var(--colors-bgCanvas);
  cursor: pointer;
}

.rc-mentions-dropdown-menu-item {
  width: 100%;
  position: relative;
  border-radius: var(--radii-small);
  color: var(--colors-fgDefault);
}

.rc-mentions-dropdown-menu-item:focus {
  background: var(--colors-bgSubtle);
}

.rc-mentions-dropdown-menu-item-active {
  background: var(--colors-bgSubtle);
}

/* width */
.rc-mentions-dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.rc-mentions-dropdown-menu::-webkit-scrollbar-track {
  background: var(--colors-bgCanvas);
}

/* Handle */
.rc-mentions-dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--colors-borderSubtle);
  border-radius: 10px;
}
